<h1 id="card-table-view-h1">{{ctc.dateList.list[0].place_type}} Date Cards</h1>

<div class="card-block">
  <div class="animated bounceInUp">
  <a ng-href="#!card-view/{{place.id}}" ng-repeat="place in ctc.dateList.list">

  <div class="card">
    <img class="card-img-top" ng-src="{{place.image_url}}" alt="Business image cap">
    <div class="">
      <h4 class="card-title">{{place.place_name}}</h4>
      <p class="card-text">{{place.description}}</p>
    </div>
    <div class="card-footer">
      <small class="text-muted" ng-href="{{place.web_link}}">{{place.web_link}}</small>
    </div>
  </div>
  </a>
</div>
  </div>
