<h2 id="home-view-h2">Date Carousel</h2>

<div class="animated rubberBand">
  <div class="carousel">
    <ul rn-carousel rn-carousel-buffered rn-carousel-index="carouselIndex" rn-carousel-controls rn-carousel-easing="easeInOutSine" rn-carousel-transition="hexagon">
      <li ng-repeat="review in carousel.reviewList.list">
        <a ng-href="#!review-view/{{review.date_id}}">
          <div class="card">
            <img class="card-img-top" ng-src="{{review.image_url}}" alt="Venue Picture"/>

            <div >
              <h4 >{{review.place_name}}</h4>
              <hr>
              <ul class="card-text">
                <!-- ngRepeat: li in side.listItems track by $index -->
                <li >{{review.visit_date | date: 'mediumDate'}}</li>
                <!-- end ngRepeat: li in side.listItems track by $index -->
                <li >{{review.visit_rating}} Stars</li>
                <!-- end ngRepeat: li in side.listItems track by $index -->
                <li >{{review.visit_description}}</li>
                <!-- end ngRepeat: li in side.listItems track by $index -->
              </ul>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
