<!-- <nav ng-include="'/views/templates/nav.html'"></nav> -->

<header class="jumbotron text-center" ng-include="'/views/templates/header.html'"></header>
<h2 id="home-view-h2">Date Categories</h2>
<div class="card" id="menu-board">
  <div class="animated jello">
<div class="form-group col-md-6">
        <a href="#!card-table/Brewery"><img id="brewery-option" src="/assets/brewery-image.jpg"/></a>
        <label class="home-view-label" for="brewery-option">Breweries</label>
</div>
<div class="form-group col-md-6">
        <a href="#!card-table/Burger" ><img id="burger-option" src="/assets/cheeseburger-image.jpg"/></a>
        <label class="home-view-label" for="burger-option">Burgers</label>
</div>
<div class="form-group col-md-6">
        <a href="#!card-table/Restaurant"><img id="restaurant-option" src="/assets/restaurant-image.jpg"/></a>
        <label class="home-view-label" for="restaurant-option">Restaurants</label>
</div>
<div class="form-group col-md-6">
        <a href="#!card-table/Winery"><img id="winery-option" src="/assets/winery-image.jpg"/></a>
        <label class="home-view-label" for="winery-option">Wineries</label>
</div>
</div>
</div>
