#userImage {
  height: 60px;
  width: 60px;
  display: inline;
  border-radius: 100%;
}

#brewery-option, #burger-option, #restaurant-option, #winery-option {
  height: 200px;
  width: 250px;
  border-radius: 5px;
}

.topnav li {
  display: inline;
}

.card {
  background-color: ivory;
  border: 1px solid darkgray;
  border-radius: 5px;
  display: inline-block;
  padding: 1em 1em 1em 1em;
  margin: 1em 2em 1em 0;
  box-shadow: 0.4em 0.4em 0.8em darkgray;
  /*max-width: 230px;*/
  /*width: 800px;*/
  list-style: none;
}

/*html, body {
  background-color: teal;
}*/
