<nav  id="myTopnav" >
  <table class="topnav">
  <th><li><a href="#!home-view">Home</a></li></th>
  <th><li><a href="#!carousel-view/reviews">Date Carousel</a></li></th>
  <th><li><h4>Welcome Back {{lc.username}}</h4></li></th>
  <th><li><img id="userImage" ng-src="{{lc.image}}"></li></th>
  <th><span ng-hide="lc.userIsLoggedIn"><li><button class="login" ng-click="lc.logIn()">Log in</button></li></span></th>
  <th><span ng-show="lc.userIsLoggedIn"><li><button class="login" ng-click="lc.logOut()">Log Out</button></li></span></th>
  <table>
</nav>
<hr />
